*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: General Sans ;
}

body html{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;

}

#hero{
  height: 100vh;
  background-color: black;
  width: 100%;
  color: #fff;
}

#nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: #fff;
}
#nav a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

#heading{
 margin-top: 90px;
}

#heading h1{
  font-size: 10vh;
  font-family: General Sans Medium;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.6;
  margin-left: 30px;

}

#heading #secondh1{
  margin-left: 130px;
}
.blocktext{
  width: fit-content;
}

.blocktext h5{
  text-transform: uppercase;
  text-align: right;
  font-size: 15px;
}

#chhotiheadings{
  margin-top: 100px;
  padding-right: 30px;
  letter-spacing: 2px;
}

#chhotiheadings h5{
  text-transform: uppercase;
  margin-top: .5vw;
  font-size: 1vw;
  text-align: right;
 
}

#herofooter {
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  display: flex;
justify-content: space-between;
}

#herofooter #iconsset{
  display: flex;
  gap: 5px;

  
}

#herofooter a{
color: #fff;
text-transform: uppercase;
text-decoration: none;
}

#herofooter .circle{
display: flex;
align-items: center;
height: 25px;
justify-content: center;
width: 25px;
border-radius: 50%;
background-color: #8888;

}

#secound{
  padding-right: 10vw;
  padding-top: 200px;
  background-color:black ;
  width: 100%;
  height: 100vh;
}
.elem{
  width: 100%;
  border-top: 1px solid #888;

}